{% extends 'base.html.twig' %}

{% block title %}New Coordinador{% endblock %}

{% block body %}
    <h1>Create new Coordinador</h1>

    {{ include('coordinador/_form.html.twig') }}

    <a href="{{ path('coordinador_index') }}">back to list</a>
{% endblock %}
